# Node
node_modules/

# Astro
dist/
.astro/
astro/dist/
astro/.astro/

# Vercel
.vercel/
astro/.vercel/

# Environment variables
.env
.env.*
*.env.local

# Sanity local files
.sanity/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
